.auditContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-items: start;
  width: 100%;

  @media screen and (min-width: 1200px) {
    grid-template-columns: minmax(18vw, max-content) auto;
    grid-column-gap: 2vw;
  }
}

.categoriesList {
  position: sticky;
  top: 1rem;
}

.categoriesList ol {
  padding-left: unset;
}

.categoriesList li::marker {
  color: gray;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight:normal;
}

.categoriesList li {
  font-family: var(--font-display);
  position: relative;
  list-style-position: inside;
  color: var(--color-base);
  background-color: transparent;
  transition: background-color linear .1s, color linear .1s;
  width: 100%;
  border-radius: calc(var(--border-radius) + 1px);
  margin-bottom: .25rem;
  padding: 0.65rem 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.categoriesList li:hover,
.categoriesList li:focus {
  color: white;
  background-color: var(--color-secondary);
  transition: background-color linear .1s, color linear .1s;
}

.categoriesList li:hover span,
.categoriesList li:focus span {
  color: white;
}

.categoriesList li span {
  display: inline-block;
  width: calc(100% - 1rem);
}

.categoriesList li:hover strong,
.categoriesList li:focus strong {
  background-color: white;
  color: var(--color-secondary);
}

.categoriesList li.isSelected {
  color: white;
  background-color: var(--color-secondary);
}

.categoriesList li.isSelected > strong {
  color: var(--color-secondary);
  background-color: white;
}

.noResults {
  background-color: white;
  box-shadow: var(--box-shadow-small);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: 1rem;
  width: 100%;
  text-align: center;
}