.category {
  cursor: pointer;
}

.bulletStatus {
  display: flex;
  align-items: center;
  column-gap: .35rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: var(--font-size-small);
  line-height: 1;
}

.bulletIssue {
  display: inline-block;
  align-content: center;
  color: white;
  background-color: var(--color-secondary);
  border-radius: calc(var(--border-radius) + 4px);
  width: 28px;
  height: 24px;
  padding: .075rem;
}

.bulletIssue.hasIssues {
  background-color: var(--color-bg-error);
  color: var(--color-error);
}

.bulletIssue.hasNoIssues {
  background-color: var(--color-bg-success);
  color: var(--color-success);
}
