.leftSection {
  width: 280px;
  min-height: 100vh;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  color: #ffffff;
}

.navLink {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  display: block;
  width: 100%;

  color: white;
  transition: all 0.2s ease;
}

.navLink:hover {
  background-color: white;
  color: black;
}