.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

@media print {
  .footerWrapper {
    display: none;
  }
}

.footer {
  width: 100%;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: solid 0.5px var(--color-border);
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.045);
  padding: 1.15rem;
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 2rem;
}

.footer p {
  margin-bottom: unset;
}

.credit {
  text-align: center;
  width: 100%;
}

.footerImg {
  margin: 20px;
}

.footerDashboard {
  margin-top: auto;
  padding: 20px 40px;
  text-align: right;
  border-top: 1px solid var(--color-border);
  width: 100%;
}