@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -- Variables -- */

:root {
  /* Couleurs */
  --color-primary:#BD42B2;
  --color-primary-hover:#DF54D3;
  --color-border:rgba(0, 0, 0, 0.15);
  --color-bg:#ffffff;

  /* Typographie */
  --font-base:'Inter', sans-serif;
  --font-display:'Space Grotesk', sans-serif;
}

  /* -- Base -- */

body {
  font-family: var(--font-base);
  font-size: 12px;
  color: #1a1a1a;
  background-color: #FAF9F7;
}

button {
  cursor: pointer;
  font-family: inherit;
}

