.header {
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: solid 0.5px var(--color-border);
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.045);
  padding: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.favicon {
  width: 100%;
  height: auto;
}

.logoImage {
  cursor: pointer;
}

.modalesContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* -- Buttons: connection & registration -- */
.btnConnected,
.btnRegistration {
  border: 0.5px solid var(--color-border);
  border-radius: 6px;
  padding: 7px 15px;
  white-space: nowrap;
}

.btnConnected {
  background-color: var(--color-bg);
}

.btnRegistration {
  color: white;
  background-color: var(--color-primary);
}

.btnRegistration:hover {
  background-color: var(--color-primary-hover);
}

.btnConnected:hover {
  background-color: #e9e9e9;
}

.modalesSignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--color-bg);
}

.modalesSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--color-bg);
}

.btnSubmitSignIn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    border: 1px solid var(--color-border);
    border-radius: 12px;

    background-color: var(--color-primary);
    color: white;

    cursor: pointer;
    transition: 0.2s ease;
}

.btnSubmitSignUp {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    border: 1px solid var(--color-border);
    border-radius: 12px;

    background-color: var(--color-primary);
    color: white;

    cursor: pointer;
    transition: 0.2s ease;
}

.inputSignIn {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 0.5px solid var(--color-border);
  border-radius: 6px;
}

.inputSignUp {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 0.5px solid var(--color-border);
  border-radius: 6px;
}

.btnSubmitGoogleSignIn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    border: 1px solid #dadce0;
    border-radius: 12px;

    background-color: white;
    color: #3c4043;

    cursor: pointer;
    transition: 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-weight: 500;
}

.btnSubmitGoogleSignIn:hover {
    background-color: #f7f8f8;
}

.btnSubmitGoogleSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.googleIcon {
   width: 20px;
   height: 20px;
}

