.header {
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: solid 0.5px var(--color-border);
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.08);
    padding: 10px;
    margin: 12px 24px;
}

.favicon {
    width: 100%;
    height: auto;
}

.iconWrapper {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.logo {
    display: none !important; 
}

@media (min-width: 768px) {
    .logo {
        display: block !important; 
    }
}

.logoWrapper {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 8px;
}

.modalesContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* -- Buttons: connection & registration -- */
.btnConnected,
.btnRegistration {
    border: 0.5px solid var(--color-border);
    border-radius: 6px;
    padding: 7px 15px;
    white-space: nowrap;
}

.btnConnected {
    background-color: var(--color-bg);
}

.btnRegistration {
    color:white;
    background-color: var(--color-primary);
}

.btnRegistration:hover {
    background-color: var(--color-primary-hover);
}

.btnConnected:hover {
    background-color: #E9E9E9;
}

