
/* -- NAVIGATION & SECTIONS -- */

.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.rightSection {
  flex: 1;  
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  padding: 60px;
  min-width: 0;
}

/* -- LISTING AUDITS -- */

/* en-tête */

.tableWrapper {
  width: 100%;
  min-width: 0; 
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-large);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.gridHeader,
.siteRow,
.auditRow {
  display: grid;
  grid-template-columns: 35% 15% 15% 20% 15%;
  align-items: center;
  padding: 13px 30px;
}

.gridHeader {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: rgba(26, 26, 26, 0.5);
  font-weight: 600;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actionButtons button {
  background: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  color: var(--color-secondary);
  opacity: 0.6;
}

.actionButtons button:hover {
  opacity: 1;
  color: var(--color-primary);
}

/* Les sites */

.siteRow {
  background-color: var(--color-bg);
  font-size: var(--font-size-medium);
  border-bottom: 1px solid var(--color-border);
}

.circleWrapperSite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.circleWrapperSite :global(.ant-progress) {
  width: 50px !important;
  height: 50px !important;
}

.circleWrapperSite :global(.ant-progress-inner) {
  width: 50px !important;
  height: 50px !important;
}

.circleWrapperSite :global(.ant-progress-circle) {
  width: 50px !important;
  height: 50px !important;
}

.auditLenght,
.lastAuditDate {
  font-size: var(--font-size-base);
  color: rgba(26, 26, 26, 0.5);
}

/* Les audits */

.auditRow {
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border);
  font-size: var(--font-size-small);
}

.circleWrapperAudit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.circleWrapperAudit :global(.ant-progress) {
  width: 40px !important;
  height: 40px  !important;
}

.circleWrapperAudit :global(.ant-progress-inner) {
  width: 40px !important;
  height: 40px  !important;
}

.circleWrapperAudit :global(.ant-progress-circle) {
  width: 40px  !important;
  height: 40px  !important;
}

.auditDate {
  font-size: var(--font-size-small);
  color: rgba(26, 26, 26, 0.5);
}
