.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin
  : 0;
}
.layout {
  flex: 1;
  padding: 50px;
  width: 100%;
  margin: 50px;
}

.box {
  border-radius: var(--border-radius);
  padding: 30px;
  border: var(--color-border);
  box-shadow: var(--box-shadow-large);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.field label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.inputSignUp {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
}

.inputSignUp:focus {
  box-shadow: var(--box-shadow)
}

.button {
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  width: 30%;
}

.button:hover {
  background: var(--color-error);
  color: var(--color-bg);
}

.buttonDelete {
  all: unset;
  font-size: var(--font-size-small);
}

.buttonDelete:hover {
  text-decoration:underline;
  cursor: pointer;
  color: var(--color-error);
}

