.testsListTitle {
  font-size: 1.15rem;
  font-weight: 400;
}

.testTile {
  background-color: white;
  box-shadow: var(--box-shadow-small);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* -- Status -- */

.status {
  border-left-width: 6px;
  border-left-style: solid;
}

.status-error {
  border-left-color: var(--color-error);
}

.status-warning {
  border-left-color: var(--color-warning);
}

.status-success {
  border-left-color: var(--color-success);
}