.icon {
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
  color: #333;
}

.commentButton {
  width: 20px;
  height: 20px;
  background: url("/comment.svg") no-repeat center;
}

.removeButton {
  width: 20px;
  height: 20px;
  background: url("/trash.svg") no-repeat center;
}

